<%- include('./partials/header') %>

<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
  <div class="w-[70vh] h-[68vh] bg-zinc-100 px-4 py-5 rounded-[30px]">
    <div class="content">
      <!--pinterest logo-->
      <div style="display: flex; justify-content: center;"><img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" /></div>
      <p class="header">Login here</p>

      <% if(locals.error) {%>
        <p class="error"><%= error %></p>
      <% } %>

      <form action="/login" method="post">
        <input name="username" type="text" placeholder="Username" class="detail" /><br />
        <input name="password" type="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" value="Login">
      </form>


      

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a style="text-decoration: none;" href="/">Not on Pinterest yet? <strong>Sign up</strong></a>
      </footer>
    </div>
  </div>
  <!-- <a href="/" class="upbtn">Sign up</a> -->
</div>



<%- include("./partials/footer.ejs") %>