<%- include("partials/header.ejs") %>

    <div class="w-full min-h-screen bg-zinc-800 px-10 text-white">
        <div class="cards flex flex-wrap gap-10">
            <div class="w-32">
                <div class="card w-full h-40 bg-sky-200 rounded-lg">
                    <img src="w-full h-full object-cover" class="" alt="">
                </div>
                <h5 class="mt-2 text-sm">Lorem ipsum</h5>
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>