body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  
  .mycard {
    background-color: none;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .username {
    font-size: 1rem;
    color: #777;
    margin: 10px 0;
  }
  


  .logout {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .logout:hover {
    background-color: #0056b3;
  }

  .edit:hover {
    background-color: black;
    color: white;
    transition: background-color 0.3s;
  }
  